{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 style="color:rgba(168, 55, 130, 0.91);">Edit Post</h1>
{% if form %}
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <p style="color: rgb(196,128,175); font-size: 20px">
            {{ form.body.label('Edit body:') }}
        </p>
        <p style="color: rgb(127,196,196);">
        {{ form.body(cols=150, rows=4) }}<br>
         {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
        </p>
            <p style="color: rgb(196,128,175);">
        {{ form.submit() }}
        </p>
        </form>
    {% endif %}
{% endblock %}
