{% extends 'base.html' %}

{% block app_content %}
    {% if dislikes |length ==0 %}
    <h3 style="color: rgba(168, 55, 130, 0.91)">Nobody dislikes it yet.</h3>
    {% else %}
        <h3 style="color: rgba(168, 55, 130, 0.91)">People who dislike this:</h3>
        <br>
        {% for dislike in dislikes %}
        <table class="table table-hover">
            <tr>
                <td width="70px">
                    <a href="{{ url_for('user.user', username=dislike.user.username) }}"></a>
                    {% if dislike.user.image is not none %}
                    <img src="{{url_for('static', filename='avatars/' + dislike.user.id|string) }}"
                        height="64" width="64" alt="avatar" loading="lazy" style=" border-radius: 50%;">
                    {% else %}
                    <a href="{{ url_for('user.user', username=dislike.user.username) }}"></a>
                            <img alt="avatar" src="{{ dislike.user.avatar(64) }}" style=" border-radius: 50%;">
                {% endif %}
                <td>
                    {% set user_link %}
                        <span class="user_popup">
                            <strong><a href="{{ url_for('user.user', username=dislike.user.username) }}" style="color:rgb(196,128,175);">
                                {{ dislike.user.username }}
                            </a></strong>
                        </span>
                    {% endset %}
                    {{ user_link }}
                </td>
            </tr>
            </table>
{% endfor %}
{% endif %}
{% endblock %}